@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
:root {
    --primary-color: #BE185D;
    --secondary-color: #F472B6;
}

body {
    background-color: #FCE7F3;
    font-family: 'Noto Sans KR', sans-serif;
}

hr {
    margin-top: 1rem;
}


/* containers */

.container-fluid {
    padding: 0.5rem 1rem;
    max-width: 600px;
}

.container {
    margin: auto;
    padding: 1rem 1rem;
}

.container-center {
    text-align: center;
    max-width: 600px;
    margin: auto;

}


/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* margin-right: 1.5rem; */
    /* margin-bottom: 5rem; */
    width: max-content;
    min-width: 140px;
    color: white;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.secondary-link {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

.active {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}


/* lists */

.unordered {
    list-style: none;
}

.unordered-inline li {
    display: inline;
    /* padding: 1rem; */
}


/* nav bar */

.navigation {
    padding: 1rem 1rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 3rem;
}

.navigation ul {
    text-align: right;
    color: white;
}

.brand-name {
    font-weight: bold;
}


/* header */

.hero {
    text-align: center;
}

.hero h1 {
    color: var(--secondary-color);
    text-align: center;
}

.hero img {
    padding: 1rem;
    max-width: 350px;
    margin: auto;
    display: block;
}


/* section */

.section {
    margin: auto;
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
}

.section p {
    padding-bottom: 1rem;
}

.section-ow {
    text-align: center;
    margin: auto;
    padding: 2rem 1rem;
}

.section-ow p {
    padding-bottom: 1rem;
}


/* footer */

.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem 1rem;
}

.footer ul {
    padding-inline-start: 0px;
}